/* Estilo general para contenedor de articulos*/

.product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

/* estilo para las prod individuales */
.product-card {
border: 1px solid #ddd; 
border-radius: 8px;
padding: 16px; /*Espacio interno de cada tarjeta*/
margin: 10px;/*Espacio entre las tarjetas*/
width: 200px;
text-align: center;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-image{
    max-width: 100%;
    height: auto; /*Mantiene proporcion de imagen*/
}

.product-card:hover{
    transform: scale(1.05); /*aumenta ligeramente la tarjeta*/
}

.product-title{
    font-size: 1.2em;
    margin: 10px 0;
}

.product-price{
    font-size: 1em;
    color: #333;
}

h2, h3{
    text-align: center;
    color: #3a5a40;
    margin: 20px 0; /*margen entre encabesados*/
}

